@import url(reset.css);
@import url(animations.css);

fieldset {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    padding-top: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-family: "Open-Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

main {
    margin-top: 50px;
    max-width: 500px;
    width: 50%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 50px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    display: inline-block;
    transform: none;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    -webkit-animation: text-shadow-pop-bl 0.6s both;
    animation: text-shadow-pop-bl 0.6s both;
}

#combo-label {
    vertical-align: top;
}

#combo {
    height: 100px;
    width: 100%;
    max-width: 470px;
}

#loading-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh; 
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px)
}

#error {
    visibility: hidden;
}
