fieldset {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    padding-top: 0px;
}

body {
    margin: auto;
    margin-top: 50px;
    max-width: 500px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#combo-label {
    vertical-align: top;
}

#combo {
    height: 100px;
    width: 98%;
}